.Outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.7rem;
  }
.inner{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.A{
    color: yellow;
}
.B{
    color: black;
}
.btn{
    margin: 2rem 1rem;
    padding: 0.7rem 1.6rem;
    font-size: 1rem;
}